<% if cart && !cart.line_items.empty? %>
  <div id="<%= dom_id cart %>" class="bg-white p-4 rounded-md shadow-md">
    <h2 class="font-bold text-lg mb-3"><%= t('.title') %></h2>
    <table class="table-auto w-full border-collapse border border-gray-300">
    
      <tbody>
        <%= render cart.line_items %>
      </tbody>
      <tfoot>
        <tr>
          <th class="text-right pr-2 pt-2" colspan="3">Total:</th>
          <td class="text-right pt-2 font-bold border-t-2 border-black">
            <%= number_to_currency(cart.total_price) %>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="flex justify-end mt-4">
      <%= button_to t('.empty'), cart, method: :delete, class: 'ml-4 py-2 px-4 text-white bg-red-600 hover:bg-red-700 transition-colors rounded-lg' %>
      <%= link_to t('.checkout'), new_order_path, class: 'ml-4 py-2 px-4 text-white bg-blue-600 hover:bg-blue-700 transition-colors rounded-lg' %>
    </div>
  </div>
<% else %>
   <div class="flex mt-1 bg-white rounded-lg shadow-lg">
      <%= button_to t('.empty'), cart, method: :delete,
        class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
      <%= button_to t('.checkout'), new_order_path, method: :get,
        class: 'ml-4 rounded-lg py-1 px-2 text-black bg-green-200' %>
    </div>
<% end %>
